<!DOCTYPE html>
<head>
<meta charset="utf-8" /> 
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">

<div ng-app="myApp" ng-controller="myCtrl">
  <div class="form">
    <h1>Convert EUR to PLN</h1>
    <div class="small-form">
      <label>Enter EUR amount</label>
      <br>
      <input type="text" ng-model="euro" id="euro">
      <button type="button" class='btn btn-default' ng-click="addAction()">CONVERT TO PLN</button>
    </div>
    <div class="resultAll">
      <div class="result" ng-repeat="conv in resultArray"> 
        <h3>PLN AMOUNT</h3>{{conv.pln}} <h5>{{conv.date | date:'dd-MM-yyyy HH:mm:ss'}}</h5></div>
      </div>
  </div>
</div>
</div>
<script src="myApp.js"></script>
<script src="myCtrl.js"></script>

</body>
</html>
