html, body{
	width: 100%;
	margin: 0;
	padding: 0;
}

.container{
	padding: 0;
	width: 50%;
	height: 100%;
	margin: 0 auto;
	background: #F7F7F7;
}

/*formularz i inne elementy formularza*/

.form{
	width: 75%;
	margin: 0 auto;
	padding: 25px;
}

.small-form{
	padding: 10px 20px;
	width: 95%;
	height: 125px;
	background: #fff;
}

h1{
	margin: 0;
	font-size: 32px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;

}

label{
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
}

/*input formularza dla waluty euro*/
#euro{
	width: 49%;
	height: 70px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	font-size: 48px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	float:left;

}

button{
	float: left;
	background: #59D999;
	width: 49%;
	height: 75px;
	border: 1px solid #59D999;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	font-size: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	color: #fff;
}

/*wyniki przeliczania walut w formie grid z euro na złotówki*/

.resultAll{
	width: 100%;
	padding: 10px;
	overflow: hidden;
}

.result{
	float: left;
	width: 49%;
	height: 150px;
	border: 1px solid #CEC8C8;
	text-align: center;
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	background: #fff;
}

h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
}

h5{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	font-weight: 400;
}